<div class="container">
  <form id="contact" [formGroup]="group">
    <h3>Formulario reactive form</h3>
    <h4>Ingrese los siguientes datos...</h4>

    <fieldset>
      <input type="text" formControlName="name" placeholder="Nombre" />
      <div *ngIf="group.get('name').invalid && group.get('name').dirty">
        <p *ngIf="group.get('name').getError('required')">
          {{ getError("name", "required", "campo requerido") }}
        </p>
      </div>
    </fieldset>

    <fieldset>
      <input type="text" formControlName="lastName" placeholder="Apellido" />
      <div *ngIf="group.get('lastName').invalid && group.get('lastName').dirty">
        <p *ngIf="group.get('lastName').getError('required')">
          {{ getError("lastName", "required", "campo requerido") }}
        </p>
      </div>
    </fieldset>

    <fieldset>
      <input formControlName="age" placeholder="Edad" type="number" />
      <div *ngIf="group.get('age').invalid && group.get('age').dirty">
        <p *ngIf="group.get('age').getError('required')">Campo requerido.</p>
        <p *ngIf="group.get('age').getError('menor')">No eres mayor de edad</p>
        <p *ngIf="group.get('age').getError('letras')">
          El valor debe ser numerico
        </p>
      </div>
    </fieldset>

    <fieldset formArrayName="comments">
      <div *ngFor="let comment of getComments(); index as com">
        <div [formGroupName]="com">
          <fieldset>
            <input
              type="text"
              formControlName="comment"
              placeholder="Escriba su comentario"
            />
            <button class="btnRemoveComment" (click)="onRemoveComment()">
              Borrar comentario
            </button>
          </fieldset>
        </div>
      </div>
      <button class="btnAddComment" (click)="onAddComment()">
        Agregar comentario
      </button>
    </fieldset>

    <fieldset>
      <div>
        <p>Género:</p>
        <input [(ngModel)]="sex" id="Masculino" type="radio" value="Masculino" name="gender" formControlName="gender">Masculino
        <input [(ngModel)]="sex" id="Femenino" type="radio" value="Femenino" name="gender" formControlName="gender">Femenino
      </div>
    </fieldset>

    <fieldset>
      <p>Estado civil</p>
      <select name="estadoCivil" formControlName="civilState" >
        <option selected="selected">Soltero</option>
        <option>Casado</option>
        <option>Divorciado</option>
      </select>
    </fieldset>

    <fieldset>
      <button (click)="onClickGroup()" type="submit" name="submit" id="btnSubmit" >Enviar formulario</button>
    </fieldset>
  </form>
</div>
