<div class="container">
  <form id="contact" [formGroup]="group">
    <h3>Formulario reactive form</h3>
    <h4>Ingrese los siguientes datos...</h4>

    <fieldset>
      <input type="text" formControlName="name" placeholder="Nombre">
      <div *ngIf="group.get('name').invalid && group.get('name').dirty">
        <p *ngIf="group.get('name').getError('required')">
          {{ getError('name', 'required','campo requerido') }}
        </p>
      </div>


      <input type="text" formControlName="lastName" placeholder="Apellido">

    </fieldset>

  </form>
</div>
